.mat-toolbar {
    background: white !important;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

a {
    color: #084698;
    text-decoration-line: none;
}

.nav-container {
    flex: 1 1 auto;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
    list-style: none;
}

img {
    width: 45px;
}

@media (min-width: 700px) {
  .mat-icon-button {
    display: none;
  }
}

@media (max-width: 700px) {
 ul {
    display: none;
  }
}



