<div class="city-filter-box">
    <app-city-filter></app-city-filter>
</div>
<div *ngIf="currentCity && (weatherState | async).dailyWeather">
    <header class="center">
        <h1>
            {{ currentCity.name }}
            <small
                >{{ currentCity.country }}
                {{ (weatherState | async).dailyWeather.weatherText }}
                {{ (weatherState | async).dailyWeather.dailyTemperature }}
                c</small>
        </h1>
        <button mat-raised-button color="primary" (click)="toggleFavorite()">
            {{ isFavorite ? 'Remove From' : 'Add To' }} Favorite
        </button>
    </header>
    <app-forecast [city]="currentCity"></app-forecast>
</div>
